*{
	margin:0;
	padding:1;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: 
	'cabecera cabecera'
	'lateral principal'
	'pie pie';
	grid-gap:10px;
	margin:auto;
}
	@media screen and (max-width: 500px) {
		.grid-container { 
			grid-template-areas:
			'cabecera'
			'principal'
			'lateral'
			'pie';

		}
	}

}
header,aside,main,footer,form{
	text-align:left;
	border:1px solid #000;
	padding: 30px;
}
header{
	grid-column: 1/4;
	background-color: #ffffb3;

}
aside{
	grid-column: 3/4;
	background-color:#ff5050;
}
main{
	grid-column: 2/3;
	background-color:#cc99ff;

}
footer{
	grid-column: 1/4;
	background-color:#ff99ff;

}
form{
	grid-column: 1/2;
	background-color: #66ffff;
}