*{
	margin: 0;
	padding: 20px;
}
header{
	border:solid 1px;
	background-color:#e6ffb3;
	height: 10vw;
}
div{
	font-size: 2vw;
	color:  #808000;
	border:solid 2px;
	width: 40vw;
	background-color:#9fdf9f;
	display: flex;
	


}